// COLORS
$primary-color: #00ff41;
$secondary-color: #008f11;

$white-color: #fff;

$bg-color: #0a0a0a;
$bg-darker: #020202;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #00ff41; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;